html,
body {
    overflow-x: hidden
}

body {
    background: linear-gradient(83deg, rgba(0, 0, 0, 1) 0%, rgba(103, 94, 94, 1) 40%, rgba(92, 86, 86, 1) 60%, rgba(0, 0, 0, 1) 100%);
}

section {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 1200px;
    height: auto;
    border: 1px solid greenyellow;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 66px;
    color: #f7ebeb;
    @media (max-width: 1280px) {
        font-size: 62px;
    }
    @media (max-width: 980px) {
        font-size: 58px;
        @media (max-height: 480px) {
            font-size: 42px;
        }
    }
    @media (max-width: 768px) {
        font-size: 54px;
        @media (max-height: 480px) {
            font-size: 38px;
        }
    }
    @media (max-width: 570px) {
        font-size: 50px;
        @media (orientation: landscape) {
            font-size: 30px;
        }
    }
    @media (max-width: 480px) {
        font-size: 46px;
        @media (orientation: landscape) {
            font-size: 30px;
        }
    }
    @media (max-width: 380px) {
        font-size: 34px;
        @media (orientation: landscape) {
            font-size: 24px;
        }
    }
    @media (max-width: 280px) {
        font-size: 24px;
    }
}

h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 64px;
    color: #f7ebeb;
    @media (max-width: 1280px) {
        font-size: 58px;
    }
    @media (max-width: 980px) {
        font-size: 54px;
        @media (max-height: 480px) {
            font-size: 38px;
        }
    }
    @media (max-width: 768px) {
        font-size: 50px;
        @media (max-height: 480px) {
            font-size: 34px;
        }
    }
    @media (max-width: 680px) {
        @media (orientation: landscape) {
            font-size: 27px;
        }
    }
    @media (max-width: 570px) {
        font-size: 46px;
        @media (orientation: landscape) {
            font-size: 26px;
        }
    }
    @media (max-width: 480px) {
        font-size: 42px;
        @media (orientation: landscape) {
            font-size: 26px;
        }
    }
    @media (max-width: 380px) {
        font-size: 30px;
        @media (orientation: landscape) {
            font-size: 20px;
        }
    }
    @media (max-width: 280px) {
        font-size: 20px;
    }
}

h3 {
    font-family: 'Philosopher', sans-serif;
    font-size: 48px;
    color: #f7ebeb;
    @media (max-width: 1280px) {
        font-size: 44px;
    }
    @media (max-width: 980px) {
        font-size: 40px;
        @media (max-height: 480px) {
            font-size: 24px;
        }
    }
    @media (max-width: 768px) {
        font-size: 36px;
        @media (max-height: 480px) {
            font-size: 20px;
        }
    }
    @media (max-width: 680px) {
        @media (orientation: landscape) {
            font-size: 13px;
        }
    }
    @media (max-width: 570px) {
        font-size: 32px;
        @media (orientation: landscape) {
            font-size: 22px;
        }
    }
    @media (max-width: 480px) {
        font-size: 28px;
        @media (orientation: landscape) {
            font-size: 22px;
        }
    }
    @media (max-width: 380px) {
        font-size: 16px;
        @media (orientation: landscape) {
            font-size: 14px;
        }
    }
    @media (max-width: 280px) {
        font-size: 14px;
    }
}

p,
span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #f7ebeb;
    line-height: 1.2;
    text-align: justify;
    overflow-x: hidden;
    text-indent: 20px;
    &::-webkit-scrollbar {
        width: 0;
    }
    @media (max-width: 980px) {
        font-size: 14px;
        @media (max-height: 480px) {
            font-size: 12px;
        }
    }
    @media (max-width: 680px) {
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 570px) {
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 480px) {
        font-size: 12px;
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 380px) {
        font-size: 10px;
    }
}

a {
    color: #f7ebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        color: #5c0a0a;
    }
    @media (max-width: 980px) {
        font-size: 14px;
    }
    @media (max-width: 680px) {
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 570px) {
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 480px) {
        font-size: 12px;
        @media (orientation: landscape) {
            font-size: 10px;
        }
    }
    @media (max-width: 380px) {
        font-size: 10px;
    }
}

.section_titl {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    z-index: 1;
    filter: drop-shadow(8px 7px 4px #000000);
    @media (max-width: 1024px) {
        @media (orientation: landscape) {
            top: 15px;
        }
    }
    @media (max-width: 380px) {
        @media (orientation: landscape) {
            top: 0px;
        }
    }
    @media (max-width: 280px) {
        top: 10px;
    }
    h2 {
        opacity: 0;
        transition: 1.5s;
        transform: translateY(129px);
        &._active {
            transform: translateY(0px);
            opacity: 1;
            z-index: 1;
        }
    }
}

.link-btn {
    width: 50%;
    .btn {
        width: 100%;
        background-color: #000000;
        border: 2px solid #5c0a0a;
        @media (max-width: 980px) {
            font-size: 14px;
            @media (max-height: 480px) {
                font-size: 12px;
            }
            @media (max-width: 380px) {
                font-size: 10px;
            }
        }
        @media (max-width: 680px) {
            @media (orientation: landscape) {
                font-size: 10px;
            }
        }
    }
}

i {
    color: #5c0a0a;
    font-size: 30px;
    @media (max-width: 380px) {
        font-size: 20px;
    }
}