footer,
#other_page_footer {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/home-page/bg_block.png");
    padding: 80px 0;
    @media (max-width: 1024px) {
        @media (orientation: landscape) {
            height: 92vh;
        }
    }
    @media (max-width: 980px) {
        @media (orientation: landscape) {
            height: 100vh;
        }
    }
    @media (max-width: 768px) {
        @media (max-height: 480px) {
            height: 80vh;
            padding: 10px 0 0;
        }
    }
    @media (max-width: 380px) {
        height: 95vh;
        @media (orientation: landscape) {
            height: 84vh;
            padding: 0;
        }
    }
    @media (max-width: 280px) {
        height: 95vh;
    }
    h2 {
        text-align: center;
    }
    .footer_block {
        width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        filter: drop-shadow(8px 7px 4px #000000);
        @media (max-width: 1200px) {
            width: 1000px;
        }
        @media (max-width: 980px) {
            width: 780px;
            @media (orientation: landscape) {
                width: 800px;
                height: 90%;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        @media (max-width: 768px) {
            width: 480px;
            @media (orientation: landscape) {
                width: 95%;
            }
            @media (max-height: 480px) {
                width: 95%;
            }
        }
        @media (max-width: 576px) {
            width: 100vw;
        }
        .contact_block,
        .contact_block_sn,
        .contact_block_op {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            .content {
                width: 23%;
                height: 150px;
                margin-top: 20px;
                border-bottom: 2px solid #5c0a0a;
                @media (max-width: 980px) {
                    width: 49%;
                    @media (orientation: landscape) {
                        width: 23%;
                    }
                }
                @media (max-width: 768px) {
                    @media (max-height: 480px) {
                        height: 96px;
                    }
                }
                @media (max-width: 680px) {
                    @media (orientation: landscape) {
                        height: 96px;
                        border-bottom: none;
                    }
                }
                @media (max-width: 380px) {
                    height: 135px;
                    @media (orientation: landscape) {
                        width: 49%;
                        height: 37px;
                    }
                }
                @media (max-width: 280px) {
                    height: 58px;
                }
                .icon {
                    height: 50px;
                    text-align: center;
                    @media (max-width: 768px) {
                        @media (max-height: 480px) {
                            display: none;
                        }
                    }
                    @media (max-width: 680px) {
                        @media (orientation: landscape) {
                            display: none;
                        }
                    }
                    @media (max-width: 280px) {
                        display: none;
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;
                    line-height: 1.8;
                    p {
                        text-indent: 0px;
                        line-height: 1.8;
                    }
                }
            }
            .sn_icon {
                width: 23%;
                height: 60px;
                text-align: center;
                margin-top: 20px;
                @media (max-width: 680px) {
                    @media (orientation: landscape) {
                        height: 30px;
                        height: 25px;
                        text-align: center;
                        margin-top: -10px;
                    }
                }
                @media (max-width: 380px) {
                    height: 30px;
                    height: 25px;
                    text-align: center;
                    margin-top: -10px;
                }
                a img {
                    width: 30px;
                    height: 30px;
                    transition: 0.5s;
                    filter: grayscale(50%);
                    cursor: pointer;
                    @media (max-width: 680px) {
                        @media (orientation: landscape) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    @media (max-width: 380px) {
                        width: 20px;
                        height: 20px;
                    }
                    &:hover {
                        width: 50px;
                        height: 50px;
                        @media (max-width: 680px) {
                            @media (orientation: landscape) {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        @media (max-width: 380px) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
        .contact_block,
        .contact_block_op {
            @media (max-width: 980px) {
                justify-content: space-around;
                @media (orientation: landscape) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .contact_block_sn {
            @media (max-width: 1450px) {
                margin-top: -35px;
            }
            @media (max-width: 980px) {
                @media (orientation: landscape) {
                    justify-content: space-around;
                    margin-top: 3px;
                }
                @media (max-height: 480px) {
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
            }
            @media (max-width: 420px) {
                margin-top: 14px;
            }
        }
        .map_responsive {
            width: 1200px;
            overflow: hidden;
            padding-bottom: 25%;
            position: relative;
            height: 0;
            border-radius: 5px;
            @media (max-width: 1200px) {
                width: 1000px;
            }
            @media (max-width: 980px) {
                width: 768px;
                @media (orientation: landscape) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                width: 576px;
            }
            @media (max-width: 576px) {
                display: none;
            }
            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
                @media (max-width: 1450px) {
                    height: 250px;
                }
                @media (max-width: 1200px) {
                    height: 200px;
                }
            }
        }
    }
    .rights {
        text-align: center;
        margin-top: 50px;
        font-size: 12px;
        font-weight: 100;
        @media (max-width: 980px) {
            @media (orientation: landscape) {
                margin-top: 79px;
            }
        }
        @media (max-width: 768px) {
            @media (max-height: 480px) {
                margin-top: 7px;
            }
        }
        @media (max-width: 680px) {
            @media (orientation: landscape) {
                font-size: 10px;
            }
        }
        @media (max-width: 380px) {
            font-size: 10px;
            margin-top: 64px;
            @media (orientation: landscape) {
                margin-top: 7px;
            }
        }
    }
}