footer,
#other_page_footer {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/home-page/bg_block.png");
    padding: 80px 0;
    h2 {
        text-align: center;
    }
    .footer_block {
        width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        filter: drop-shadow(8px 7px 4px #000000);
        .contact_block,
        .contact_block_sn,
        .contact_block_op {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            .content {
                width: 250px;
                height: 150px;
                margin-top: 20px;
                border-bottom: 2px solid #5c0a0a;
                .icon {
                    height: 50px;
                    text-align: center;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;
                    line-height: 1.8;
                }
            }
            .sn_icon {
                width: 258px;
                height: 60px;
                text-align: center;
                margin-top: 20px;
                a img {
                    width: 30px;
                    height: 30px;
                    transition: 0.5s;
                    filter: grayscale(50%);
                    cursor: pointer;
                    &:hover {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .map_responsive {
            width: 1200px;
            overflow: hidden;
            padding-bottom: 25%;
            position: relative;
            height: 0;
            border-radius: 5px;
            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            iframe {
                height: 400px;
            }
        }
        @media (max-width: 1450px) {
            .map_responsive {
                iframe {
                    height: 250px;
                }
            }
            .contact_block_sn {
                margin-top: -35px;
            }
        }
        @media (max-width: 1200px) {
            .map_responsive {
                width: 1000px;
                iframe {
                    height: 200px;
                }
            }
            .contact_block_sn {
                margin-top: -35px;
            }
        }
        @media (max-width: 960px) {
            .map_responsive {
                width: 780px;
                iframe {
                    height: 200px;
                }
            }
            .contact_block_sn {
                margin-top: -35px;
            }
        }
        @media (max-width: 768px) {
            .map_responsive {
                width: 576px;
                iframe {
                    height: 200px;
                }
            }
            .contact_block_sn {
                margin-top: -35px;
            }
        }
    }
    .rights {
        text-align: center;
        margin-top: 50px;
        font-size: 12px;
        font-weight: 100;
    }
}

@media (max-width: 1450px) {
    footer,
    #other_page_footer {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    footer,
    #other_page_footer {
        .footer_block {
            width: 1000px;
        }
    }
}

@media (max-width: 960px) {
    footer,
    #other_page_footer {
        .footer_block {
            width: 780px;
            .contact_block,
            .contact_block_op {
                justify-content: space-around;
            }
            .contact_block_sn {
                .sn_icon {
                    width: 60px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    footer,
    #other_page_footer {
        .footer_block {
            width: 480px;
            .contact_block,
            .contact_block_op {
                justify-content: space-around;
                .content {
                    width: 220px;
                }
            }
            .contact_block_sn {
                .sn_icon {
                    width: 60px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    footer,
    #other_page_footer {
        .footer_block {
            width: 100vw;
            .contact_block,
            .contact_block_op {
                justify-content: space-around;
                .content {
                    width: 49%;
                }
            }
            .map_responsive {
                display: none;
            }
            .contact_block_sn {
                .sn_icon {
                    width: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) and (max-height: 500px) {
    footer,
    #other_page_footer {
        height: 100vh;
        .footer_block {
            width: 800px;
            height: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            .contact_block,
            .contact_block_op {
                width: 100%;
                height: auto;
                .content {
                    width: 180px;
                }
            }
            .map_responsive {
                display: none;
            }
            .contact_block_sn {
                justify-content: space-around;
                margin-top: 3px;
            }
        }
        .rights {
            margin-top: 79px;
        }
    }
}