.link_right_block {
    width: 968px;
    height: 88px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-out;
    right: -968px;
    bottom: 0px;
    &._active {
        right: 0px;
    }
    .figure1 {
        width: 968px;
        height: 88px;
        background-color: #5c0a0a;
        padding-top: 2px;
        padding-left: 4px;
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
        .figure2 {
            width: 964px;
            height: 84px;
            background-color: #000000;
            clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
            text-align: left;
            padding-top: 24px;
            padding-left: 70px;
        }
    }
}

.link_left_block {
    width: 954px;
    height: 88px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-out;
    left: -960px;
    bottom: 0px;
    &._active {
        left: 0px;
    }
    .figure1 {
        width: 954px;
        height: 88px;
        background-color: #5c0a0a;
        padding-top: 2px;
        padding-left: 2px;
        clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
        .figure2 {
            width: 950px;
            height: 84px;
            background-color: #000000;
            clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
            text-align: right;
            padding-top: 24px;
            padding-right: 70px;
        }
    }
}

@media (max-width: 1450px) {
    .link_right_block,
    .link_left_block {
        width: 754px;
        height: 88px;
        .figure1 {
            width: 754px;
            height: 88px;
            .figure2 {
                width: 750px;
                height: 84px;
            }
        }
    }
}

@media (max-width: 1220px) {
    .link_right_block,
    .link_left_block {
        width: 554px;
        height: 88px;
        .figure1 {
            width: 554px;
            height: 88px;
            .figure2 {
                width: 550px;
                height: 84px;
            }
        }
    }
}

@media (max-width: 940px) {
    .link_right_block,
    .link_left_block {
        width: 344px;
        height: 68px;
        .figure1 {
            width: 344px;
            height: 68px;
            .figure2 {
                width: 340px;
                height: 64px;
            }
        }
    }
}

@media (max-width: 570px) {
    .link_right_block,
    .link_left_block {
        width: 244px;
        height: 68px;
        .figure1 {
            width: 244px;
            height: 68px;
            .figure2 {
                width: 240px;
                height: 64px;
            }
        }
    }
}

@media (max-width: 480px) {
    .link_right_block,
    .link_left_block {
        width: 164px;
        height: 68px;
        .figure1 {
            width: 164px;
            height: 68px;
            .figure2 {
                width: 160px;
                height: 64px;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}