    #hairdresser {
        z-index: 9;
    }
    
    #nail_master {
        z-index: 8;
    }
    
    #makeup {
        z-index: 7;
    }
    
    .left_box {
        width: 100vw;
        /* height: 95vh; */
        display: flex;
        position: relative;
        .section_titl h2 {
            filter: drop-shadow(8px 7px 4px #000000);
            &.hair {
                margin-top: -106px;
            }
            &.m_up {
                margin-top: -272px;
            }
        }
        .serv_bg_img {
            width: 65%;
            height: 100%;
            background-size: auto 100%;
            background-position: right;
            background-attachment: fixed;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: 0;
        }
        @media (max-width: 960px) {
            .serv_bg_img {
                background-position: center;
            }
        }
        &.hairdresser {
            z-index: 3;
        }
        &.makeup {
            z-index: 1;
        }
        .left_block {
            width: 60%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            background-image: url("../img/home-page/bg_block.png");
            background-size: cover;
            clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
            p {
                width: 50%;
                max-height: 50%;
                padding-right: 5px;
                overflow-x: hidden;
                transition: 1.5s;
                transform: translateY(129px);
                z-index: -1;
                opacity: 0;
                &::-webkit-scrollbar {
                    width: 0;
                }
                &._active {
                    transform: translateY(0px);
                    opacity: 1;
                    z-index: 1;
                }
            }
            .link-btn {
                opacity: 0;
                margin-top: 25px;
                transition: 2s;
                &._active {
                    opacity: 1;
                }
            }
        }
        @media (max-width: 570px) {
            .left_block {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
        @media (max-width: 1450px) {
            p {
                width: 35%;
                left: 100px;
            }
        }
        @media (max-width: 960px) {
            p {
                left: 50px;
            }
        }
        @media (max-width: 570px) {
            p {
                left: 22px;
            }
        }
    }
    
    .right_box {
        width: 100vw;
        /*      height: 95vh; */
        display: flex;
        position: relative;
        background-size: auto 100%;
        background-position: center;
        z-index: 2;
        .section_titl h2 {
            margin-top: -190px;
            filter: drop-shadow(8px 7px 4px #000000);
        }
        .serv_bg_img {
            width: 65%;
            height: 100%;
            background-size: auto 100%;
            background-position: left;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        @media (max-width: 960px) {
            .serv_bg_img {
                background-position: center;
            }
        }
        .right_block {
            width: 65%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            background-image: url("../img/home-page/bg_block.png");
            background-size: contain;
            clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
            p {
                width: 50%;
                max-height: 50%;
                padding-right: 5px;
                overflow-x: hidden;
                transition: 1.5s;
                transform: translateY(129px);
                z-index: -1;
                opacity: 0;
                &::-webkit-scrollbar {
                    width: 0;
                }
                &._active {
                    transform: translateY(0px);
                    opacity: 1;
                    z-index: 1;
                }
            }
            .link-btn {
                opacity: 0;
                margin-top: 25px;
                transition: 2s;
                &._active {
                    opacity: 1;
                }
            }
        }
        @media (max-width: 570px) {
            .right_block {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
        @media (max-width: 1450px) {
            p {
                width: 35%;
                right: 100px;
            }
        }
        @media (max-width: 960px) {
            p {
                right: 50px;
            }
        }
        @media (max-width: 570px) {
            p {
                right: 19px;
            }
        }
    }
    
    @media (max-width: 1300px) {
        .left_box,
        .right_box {
            height: 101vh;
            h2 {
                &.hair {
                    top: -9%;
                }
                &.nail {
                    top: -18%;
                }
                &.m_up {
                    top: -27%;
                }
            }
        }
    }
    
    @media (max-width: 1200px) {
        .left_box,
        .right_box {
            height: 95vh;
            h2 {
                &.hair {
                    top: -18%;
                }
                &.nail {
                    top: -28%;
                }
                &.m_up {
                    top: -36%;
                }
            }
        }
    }
    
    @media (max-width: 960px) {
        .left_box,
        .right_box {
            h2 {
                &.hair {
                    top: -12%;
                }
                &.nail {
                    top: -22%;
                }
                &.m_up {
                    top: -32%;
                }
            }
        }
        #hairdresser {
            height: 98vh;
        }
        #nail_master {
            height: 92vh;
        }
        #makeup {
            height: 94vh;
        }
    }
    
    @media (max-width: 768px) {
        .service_text {
            transition: all 2s ease;
            opacity: 0.1;
            &._active {
                opacity: 1;
            }
        }
    }
    
    @media (max-width: 570px) {
        .left_box,
        .right_box {
            h2 {
                width: 100%;
                left: 20%;
                z-index: 5;
                &.hair {
                    top: -12%;
                }
                &.nail {
                    top: -23%;
                }
                &.m_up {
                    top: -32%;
                }
            }
            p {
                width: 50%;
                height: 60%;
                margin-top: -113px;
            }
        }
        #hairdresser {
            height: 98vh;
        }
        #nail_master {
            height: 92vh;
        }
        #makeup {
            height: 94vh;
        }
    }
    
    @media screen and (max-width: 960px) and (max-height: 500px) {
        .left_box {
            .serv_bg_img {
                width: 55%;
                height: 100%;
                background-position: right;
            }
            h2 {
                font-size: 36px;
            }
            p {
                top: 72px;
                font-size: 14px;
            }
        }
        .right_box {
            .serv_bg_img {
                width: 55%;
                height: 100%;
                background-position: left;
            }
            h2 {
                font-size: 36px;
            }
            p {
                top: 72px;
                font-size: 14px;
            }
        }
        #hairdresser {
            height: 88vh;
        }
        #nail_master {
            height: 94vh;
        }
        #makeup {
            height: 95vh;
        }
        .left_box,
        .right_box {
            h2 {
                &.hair {
                    top: -16%;
                }
                &.nail {
                    top: -16%;
                }
                &.m_up {
                    top: -26%;
                }
            }
        }
    }