#hairdresser {
    z-index: 9;
}

#nail_master {
    z-index: 8;
}

#makeup {
    z-index: 7;
}

.left_box {
    display: flex;
    position: relative;
    .serv_bg_img {
        width: 65%;
        height: 100%;
        background-size: auto 100%;
        background-position: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: 0;
        @media (max-width: 1024px) {
            @media (orientation: portrait) {
                background-position: left;
            }
        }
        @media (max-width: 980px) {
            background-position: center;
            @media (orientation: landscape) {
                background-position: right;
            }
        }
    }
    &.hairdresser {
        z-index: 3;
    }
    &.makeup {
        z-index: 1;
    }
    .left_block {
        width: 63%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        background-image: url("../img/home-page/bg_block.png");
        background-size: cover;
        clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
        p {
            width: 50%;
            max-height: 50%;
            padding-right: 5px;
            overflow-x: hidden;
            transition: 1.5s;
            transform: translateY(129px);
            z-index: -1;
            opacity: 0;
            @media (max-width: 280px) {
                max-height: 48%;
            }
            &::-webkit-scrollbar {
                width: 0;
            }
            &._active {
                transform: translateY(0px);
                opacity: 1;
                z-index: 1;
            }
            @media (max-width: 1024px) {
                width: 71%;
                margin-left: -116px;
            }
            @media (max-width: 768px) {
                margin-left: -69px;
            }
            @media (max-width: 570px) {
                width: 91%;
                margin-left: 8px;
            }
        }
        .link-btn {
            opacity: 0;
            margin-top: 25px;
            transition: 2s;
            &._active {
                opacity: 1;
            }
            .btn {
                @media (max-width: 280px) {
                    margin-top: -19px;
                    width: 125%;
                }
            }
        }
        @media (max-width: 570px) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}

.right_box {
    display: flex;
    position: relative;
    background-size: auto 100%;
    background-position: center;
    z-index: 2;
    .serv_bg_img {
        width: 65%;
        height: 100%;
        background-size: auto 100%;
        background-position: left;
        background-attachment: fixed;
        background-repeat: no-repeat;
        @media (max-width: 980px) {
            background-position: center;
            @media (orientation: landscape) {
                background-position: left;
            }
        }
    }
    .right_block {
        width: 65%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        background-image: url("../img/home-page/bg_block.png");
        background-size: contain;
        clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
        @media (max-width: 570px) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        p {
            width: 50%;
            max-height: 50%;
            padding-right: 5px;
            overflow-x: hidden;
            transition: 1.5s;
            transform: translateY(129px);
            z-index: -1;
            opacity: 0;
            @media (max-width: 280px) {
                max-height: 48%;
            }
            &::-webkit-scrollbar {
                width: 0;
            }
            &._active {
                transform: translateY(0px);
                opacity: 1;
                z-index: 1;
            }
            @media (max-width: 1024px) {
                width: 71%;
                margin-right: -116px;
            }
            @media (max-width: 768px) {
                margin-right: -78px;
            }
            @media (max-width: 570px) {
                width: 94%;
                margin-right: -5px;
            }
        }
    }
    .link-btn {
        opacity: 0;
        margin-top: 25px;
        transition: 2s;
        &._active {
            opacity: 1;
        }
        .btn {
            @media (max-width: 280px) {
                width: 125%;
                margin-top: -19px;
            }
        }
    }
}